{% extends "@ContaoCore/Backend/be_page.html.twig" %}

{% block headline %} {% endblock %}

{% block error %}{% endblock %}

{% block main %}
    <div id="tl_buttons">
        <a href="{{ backUrl }}" class="header_back" title="" accesskey="b" onclick="Backend.getScrollOffset()">{{ 'MSC.backBT'|trans({}, 'contao_default') }}</a>
    </div>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/cowegisapi/swagger/swagger-ui.css') }}" >
    <style>
        html
        {
            box-sizing: border-box;
            overflow: -moz-scrollbars-vertical;
            overflow-y: scroll;
        }

        *,
        *:before,
        *:after
        {
            box-sizing: inherit;
        }

        body
        {
            margin:0;
            background: #fafafa;
        }
    </style>
    <script src="{{ asset('bundles/cowegisapi/swagger/swagger-ui-bundle.js') }}"></script>
    <script src="{{ asset('bundles/cowegisapi/swagger/swagger-ui-standalone-preset.js') }}"></script>
    <div id="swagger-ui"></div>

    <script>
        const pushState = window.history.pushState
        window.history.pushState = function (state, title, url) {
            if (state === null && title === null && url.startsWith('#/')) {
                url = window.location.pathname + url
            }
            pushState.apply(this, [state, title, url])
        }

        window.onload = function() {
            const ui = SwaggerUIBundle({
                url: "{{ schemaUri }}",
                dom_id: '#swagger-ui',
                deepLinking: true,
                presets: [
                    SwaggerUIBundle.presets.apis,
                    SwaggerUIStandalonePreset
                ],
                plugins: [
                    SwaggerUIBundle.plugins.DownloadUrl,
                ],
                layout: "BaseLayout",
            })

            window.ui = ui
        }
    </script>
{% endblock %}
